body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA; /* 연한 하늘색 */
    color: #0277BD; /* 모던한 하늘색 */
}

.tab-header {
    overflow: hidden;
    background: linear-gradient(to right, #81D4FA, #29B6F6); /* 하늘색 그라데이션 */
}

.tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #FFFFFF; /* 텍스트 색상을 흰색으로 변경 */
}

.tab-link.active {
    background-color: #4FC3F7; /* 선택된 탭의 하늘색 */
    color: #FFFFFF;
    border-bottom: 2px solid #0288D1; /* 하단 표시선을 더 진한 하늘색으로 */
}

.tab-link:hover {
    background-color: #B3E5FC; /* 호버 시 연한 하늘색 */
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #B3E5FC; /* 연한 하늘색 */
    border-top: none;
    background-color: #E1F5FE; /* 아주 연한 하늘색 */
    animation: fadeEffect 1s;
}

.image-container {
    width: 200px;
    height: 200px;
    background-color: grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    background: linear-gradient(to right, #29B6F6, #81D4FA); /* 하늘색 그라데이션 */
    color: #0277BD;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #B3E5FC;
}
